/* styles.css */
.create-survey-button {
    margin-bottom: 20px;
}

/* Styles for nav-pills */
#tabs ul {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 30px !important;
}

#tabs ul li {
    margin-right: 5px;
}

#tabs ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: black !important;
}

#tabs ul li a:hover {
    background-color: #f8f9fa !important;
    border-color: transparent !important;
}

#tabs ul li.active a {
    color: rgb(10, 10, 10) !important;
    background-color: #fff !important;
    border-bottom: 5px solid black !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
}

#tabs > div {
    display: none;
}

#tabs div.active {
    display: block;
}

/* Styles for filter-form */
.filter-form {
    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;
    gap: 10px; /* Adds 5px gap between child elements */
    padding: 20px 24px;
    margin-bottom: 20px;
    margin-top: 17px;

    .search-input, .custom-select, .date-input {
        width: 290px;
        height: 39px;
    }
}

.search-input,
.status-select,
.filter-button {
    padding: 5px; /* Optional: Add padding to elements for better spacing */
}

.survey-header {
    display: flex;
    justify-content: space-between;
}